<!DOCTYPE html>
<html>
<head>
  <title>
    Blackjack
  </title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
  </script>
  <script src="/application.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

  <div class="navbar navbar-fixed-top navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="navbar-btn">
          <a href="/">
            New Game
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <%if @error %>
    <div class="alert alert-error">
      <%=@error%>
    </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
