<h1 class="hit">Welcome to the Silvernightfall's Casino</h1>
<h1 class="hit">This is the Blackjack Table</h1>

<h2 class="round">Would you like to play a round?</h2>
<form action='/play' method='post' class="navbar-form navbar-center">
	<div class="buttons">
		<input name="play" value="Yes" type="submit" class="myButton" />
		<input name="play" value="No" type="submit" class="myButton" />
	</div>
</form>
